
*{
    -fx-bgcolor: #141217;
    -fx-transparent-bgcolor: #ffffff00;
    -fx-txt-w: white;
    -fx-txt-b: black;
    -fx-accent-color: #FC094B;
    -fx-border-col: #B8B8B8;
}

.text {
    -fx-font-family: "Lato";
    -fx-fill: white;
}

.h1 {
    -fx-font-size: 26;
    -fx-font-weight: 800;
}

.h2 {
    -fx-font-size: 16;
    -fx-font-weight: 600;
    -fx-fill: black;
}

VBox, AnchorPane {
    -fx-background-color: -fx-bgcolor;
}

.text-area {
    -fx-control-inner-background: -fx-bgcolor;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-color: -fx-bgcolor;
}

.text-area .content {
    -fx-cursor: text;
    -fx-background-color: #1B191E;
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-border-color: -fx-border-col;
    -fx-border-radius: 5;
}

.text-area .scroll-pane {
    -fx-cursor: text;
    -fx-background-color:  #ffffff08;
    -fx-border-radius: 5;
    -fx-text-fill: white;
}

.inputTextField {
    -fx-cursor: text;
    -fx-background-color: -fx-transparent-bgcolor;
    -fx-border-color: -fx-border-col;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-text-fill: white;
}

.button {
    -fx-cursor: hand;
    -fx-background-color: -fx-accent-color;
    -fx-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-min-width: 150;
    -fx-background-radius: 7;
    -fx-min-height: 40;
}

.button:hover {
    -fx-background-color: white;
}

.button:hover .text {
    -fx-fill: -fx-accent-color;
}

.clear-button  {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-border-color: -fx-accent-color;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-min-width: 150;
    -fx-border-radius: 7;
    -fx-min-height: 40;
}

.clear-button .text{
    -fx-fill: white;
}

.clear-button:hover{
    -fx-background-color: -fx-accent-color;
}

.clear-button:hover .text{
    -fx-fill: white;
}

.actionItem {
    -fx-cursor: hand;
    -fx-background-color: #ADADAD90;
    -fx-background-radius: 10;
}

.actionItem:hover {
    -fx-background-color: #ADADAD;

}

.image-view-wrapper: border {
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}


.my-table-view {
    -fx-background-color: -fx-transparent-bgcolor;
    -fx-border-color: -fx-transparent-bgcolor;
    -fx-border-width: 0 0 2 0;
}

.my-table-view .column-header, .table-view .column-header-background {
    -fx-background-color: -fx-accent-color;
    -fx-border-color: -fx-accent-color;
}

.my-table-view .column-header .label {
    -fx-text-fill: white;
}

.my-table-view .table-row-cell {
    -fx-border-color: #ffffff10;
    -fx-background-color: -fx-transparent-bgcolor;
    -fx-border-width: 0 0 1 0;
}

.my-table-view .table-row-cell:selected {
    -fx-background-color: -fx-accent-color;
}

.my-table-view .cell {
    -fx-text-fill: white;
    -fx-border-color: #ffffff10;
}

.my-table-view .table-cell {
    -fx-text-fill: white;
}

.my-table-view .scroll-bar:vertical .increment-button, .table-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: black;
    -fx-background-insets: 0, 0, 1;
}

.choice-box {
    -fx-cursor: hand;
    -fx-background-color: -fx-transparent-bgcolor;
    -fx-border-color: -fx-border-col;
    -fx-padding: 7 5;
    -fx-border-radius: 5;
}

.choice-box .text {
    -fx-text-fill: white;
}

.choice-box .arrow {
    -fx-background-color: white;
}

.choice-box .context-menu {
    -fx-background-color: #1B191E;
}

.choice-box .menu-item:focused {
    -fx-cursor: hand;
    -fx-background-color: -fx-accent-color;
}

.choice-box .menu-item > .label {
    -fx-text-fill: white;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}

.date-picker {
    -fx-cursor: hand;
    -fx-background-color: -fx-transparent-bgcolor;
    -fx-border-radius: 5;
    -fx-text-fill: white;
    -fx-border-color: -fx-border-col;
}

.date-picker > .arrow-button {
    -fx-background-color: -fx-border-col;
    -fx-border-color: -fx-border-col;
    -fx-border-radius: 1;
}

.date-picker > .text-field {
    -fx-background-color: -fx-transparent-bgcolor;
    -fx-text-fill: white;
    -fx-padding: 10 15;
}

.date-picker > .arrow-button > .arrow {
    -fx-background-color: -fx-accent-color;
}

.date-picker-popup {
    -fx-cursor: hand;
    -fx-background-color: black;
    -fx-fill: black;
}

.date-picker-popup .button {
        -fx-background-color: -fx-transparent-bgcolor;
        -fx-text-fill: black;
        -fx-font-weight: normal;
        -fx-font-size: 10;
        -fx-min-width: 10;
        -fx-background-radius: 100;
        -fx-min-height: 10;
}

.date-picker .cell {
  -fx-background-color: white;
}

.date-picker .cell:hover {
  -fx-background-color: -fx-accent-color;
  -fx-text-fill: white;
}

.date-picker .cell:focused {
  -fx-background-color: -fx-accent-color;
  -fx-text-fill: white;
}

.date-picker-popup .text{
    -fx-fill: black;
}

.date-picker-popup .month-year-pane {
  -fx-background-color: -fx-accent-color;
}

.date-picker-popup .day-cell:disabled {
    -fx-text-fill: gray;
}

.date-picker-popup .week-number-cell {
  -fx-text-fill: gray;
}

.tab-pane {
    -fx-background-color: black;
    -fx-text-base-color: white;
}

.tab {
    -fx-cursor: hand;
    -fx-background-color: #1B191E;
    -fx-border-width: 0;
    -fx-background-insets: 2;
    -fx-background-radius: 5;
    -fx-padding: 10;
}

.tab:selected {
    -fx-background-color: -fx-accent-color;
}

.tab:hover {
    -fx-background-color: -fx-accent-color;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 5 0;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-bgcolor;
    -fx-padding: 0;

}

.vbox {
    -fx-background-color: black;
}

.label {
    -fx-text-fill: white;
}

.my-dialog-pane {
    -fx-background-color: -fx-bgcolor;
}

.my-dialog-pane:header *.header-panel{
    -fx-background-color: -fx-bgcolor;
}

.my-dialog-pane > *.content .label {
    -fx-text-fill: white;
}

.my-dialog-pane:header *.header-panel *.label {
    -fx-text-fill: white;
}

.my-dialog-pane .button {
    -fx-cursor: hand;
    -fx-background-color: -fx-accent-color;
    -fx-border-radius: 5;
    -fx-text-fill: -fx-txt-w;
    -fx-min-width: 30;
    -fx-min-height: 15;
    -fx-font-size: 10;
}

.my-dialog-pane .button:hover {
    -fx-background-color: white;
    -fx-text-fill: -fx-accent-color;
}





