
.text {
    -fx-font-family: "Lato";
    -fx-fill: white;
}

.h1 {
    -fx-font-size: 26;
    -fx-font-weight: 800;
}

.h2 {
    -fx-font-size: 16;
    -fx-font-weight: 600;
    -fx-fill: black;
}

VBox, AnchorPane {
    -fx-background-color: #141217;
}

.inputTextField {
    -fx-background-color: #141217;
    -fx-border-color: #B8B8B8;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-text-fill: white;

}

.button {
    -fx-background-color: #FC094B;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-min-width: 150;
    -fx-background-radius: 7;
    -fx-min-height: 40;
}

.actionItem {
    -fx-background-color: #ADADAD90;
    -fx-background-radius: 10;

}

.my-table-view {
    -fx-background-color: #141217;
    -fx-border-color: #141217;
}

.my-table-view .column-header, .table-view .column-header-background {
    -fx-background-color: #FC094B;
    -fx-border-color: #FC094B;
}

.my-table-view .column-header .label {
    -fx-text-fill: white;
}

.my-table-view .table-row-cell {
    -fx-border-color: #ffffff10;
    -fx-background-color: #141217;
    -fx-border-width: 0 1 1 0;
}

.my-table-view .table-row-cell:selected {
    -fx-background-color: #FC094B;
}

.my-table-view .cell {
    -fx-text-fill: white;
    -fx-border-color: #ffffff10;
}

.my-table-view .table-cell {
    -fx-text-fill: white;
}

.my-table-view .scroll-bar:vertical .increment-button, .table-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: black;
    -fx-background-insets: 0, 0, 1;
}

.choice-box {
    -fx-background-color: #141217;
    -fx-border-color: #B8B8B8;
    -fx-padding: 7 10;
    -fx-border-radius: 5;
}

.choice-box .text {
    -fx-text-fill: white;
}

.choice-box .arrow {
    -fx-background-color: white;
}

.choice-box .context-menu {
    -fx-background-color: #1B191E;
}

.choice-box .menu-item:focused {
    -fx-background-color: #FC094B;
}

.choice-box .menu-item > .label {
    -fx-text-fill: white;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
}

.date-picker {
    -fx-background-color: #141217;
    -fx-border-radius: 5;
    -fx-text-fill: white;
    -fx-border-color: #B8B8B8;
}

.date-picker > .arrow-button {
    -fx-background-color: #B8B8B8;
    -fx-border-color: #B8B8B8;
    -fx-border-radius: 1;
}

.date-picker > .text-field {
    -fx-background-color: #141217;
    -fx-text-fill: white;
    -fx-padding: 10;
}

.date-picker > .arrow-button > .arrow {
    -fx-background-color: #FC094B;
}

.date-picker-popup {
    -fx-background-color: black;
    -fx-fill: white;
}

.date-picker-popup .button {
        -fx-background-color: #ffffff00;
        -fx-text-fill: white;
        -fx-font-weight: normal;
        -fx-font-size: 10;
        -fx-min-width: 10;
        -fx-background-radius: 100;
        -fx-min-height: 10;
}

.date-picker-popup .day-cell:selected {
    -fx-background-color: darkgray;
}

.date-picker-popup .day-cell:today {
    -fx-background-color: gray;
    -fx-font-weight: bold;
}

.date-picker-popup .text{
    -fx-fill: black;
}

.date-picker-popup .day-cell:disabled {
    -fx-text-fill: gray;
}

.tab-pane {
    -fx-background-color: black;
    -fx-text-base-color: white;
}

.tab {
    -fx-background-color: #1B191E;
    -fx-border-width: 0;
    -fx-background-insets: 2;
    -fx-background-radius: 5;
    -fx-padding: 10;
}

.tab:selected {
    -fx-background-color: #FC094B;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 5 0;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #141217;
    -fx-padding: 0;

}





